<!DOCTYPE html>
<html lang="en">
        <header>
            <img id="ir_arriba" src="../images/logoheader.png" alt="AGENDASH">
            <a href="../pages/contacto.html" class="ref">Contacto</a>
            <a href="../pages/equipo.html" class="ref">Equipo</a>
            <a href="../pages/formulario.html" class="ref">Formulario</a>
            <a href="../index.html" class="ref">Inicio</a>
        </header>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
        <title>AGENDASH</title>
        <meta name="description" content="AGENDASH Make it simple.">
        <meta name="keywords" content="SIMPLE, SEGURO, CONFIABLE, ORGANIZACIÓN, FINANZAS, ORDEN, HÁBITOS, CONTROL">
        <link rel="shortcut icon" href="../images/favicon.jpg" type="image/x-icon">
        <link rel="stylesheet" href="../css/style.css">
    </head>
<body>
    <div>
        <p>

            <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, distinctio.</h1>
            <ol>
                <p>

                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, distinctio.

                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, distinctio.</li>
                <p>

                </p>
                <p>
                    
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, distinctio.

                </p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13732.323189944756!2d-66.27067031842125!3d-30.631680406757777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942968759fb1313f%3A0x3b9a99cac1b4900f!2sOlta%2C%20La%20Rioja!5e0!3m2!1ses-419!2sar!4v1671576436127!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>

                </p>
                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, distinctio.</li>
                <p>

                </p>
                <p>

                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, distinctio.

                </p>
                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, distinctio.</li>
                <p>

                </p>
                <p>

                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, distinctio.

                </p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6860.3776141671!2d-57.92574452785145!3d-27.737435393385166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94506de3cf4b2e6b%3A0x5dbace54acd68e70!2sLomas%20de%20Vallejos%2C%20Corrientes!5e1!3m2!1ses-419!2sar!4v1671576800169!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>

                </p>
                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, distinctio.</li>
                <p>

                </p>
                <p>

                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, distinctio.

                </p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56630.943765550874!2d-55.15892995165716!3d-27.486875518087245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f8f54706b1b501%3A0x2a4796c88edb4c9!2sOber%C3%A1%2C%20Misiones!5e0!3m2!1ses-419!2sar!4v1671577141623!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>

                </p>
                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, distinctio.</li>
                <p>

                </p>
                <p>

                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, distinctio.
                </p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3354.0010093440687!2d-64.0542637349569!3d-30.068040581873742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9431ebd779a4d959%3A0xaab545ca5bf1a0f5!2sCaminiaga%2C%20C%C3%B3rdoba!5e1!3m2!1ses-419!2sar!4v1671576636631!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, distinctio.</li>
                <p>

                </p>
                <p>

                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, distinctio.
                </p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3702.3063994322292!2d-64.10932438177782!3d-29.574425686801085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94303198da54f1eb%3A0x6472930efa5841a2!2sPozo%20Nuevo%2C%20C%C3%B3rdoba!5e1!3m2!1ses-419!2sar!4v1671576864287!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>

                </p>
                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, distinctio.</li>
                <p>

                </p>
                <p>

                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, distinctio.
                </p>
                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, distinctio.</li>
                <p>

                </p>
                <p>

                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, distinctio.
                </p>
                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, distinctio.</li>
                <p>

                </p>
                <ul>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, distinctio.</li>
                    <p>

                    </p>
                    <p>

                    </p>

                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, distinctio.</li>
                    <p>

                    </p>
                    <P>

                    </P>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, distinctio.</li>
                    <P>

                    </P>
                </ul>
                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, distinctio.</li>
                <p>

                </p>
                <p>

                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, distinctio.

                </p>
                </p>
            </ol>

        </p>
        <a href="#ir_arriba" class="ref">Ir Arriba</a>
    </div>

    <footer>
        <a target="_blank"href="https://www.instagram.com" class=><img src="../images/instagram.png" alt="Instagram"></a>
        <a target="_blank"href="https://donaronline.org" class=><img src="../images/donar.png" alt="Donar"></a>
        <a target="_blank"href="https://twitter.com" class=><img src="../images/gorjeo.png" alt="Twitter"></a>
        </footer>
</body>
</html>