<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
        <title>AGENDASH</title>
        <meta name="description" content="AGENDASH Make it simple.">
        <meta name="keywords" content="SIMPLE, SEGURO, CONFIABLE, ORGANIZACIÓN, FINANZAS, ORDEN, HÁBITOS, CONTROL">
        <link rel="shortcut icon" href="../images/favicon.jpg" type="image/x-icon">
        <link rel="stylesheet" href="../../css/style.css">
    </head>
<body>
    <header>
        <!--Menu-->
        <nav class="navbar flex-row container-fluid">
            <!--Imagen cabecera-->
            <picture class="logo">
                <a href="../../index.html"><img src="../images/logoheader.png" id="shortcut" alt="AGENDASH"
                        class="logo">
            </picture>
            <!--Menu Items-->
            <ul class="menu flex-row">
                <li class="menu__item">
                    <a href="../../index.html" class="menu__link">HOME</a>
                </li>
                <li class="menu__item">
                    <a href="../views/equipo.html" class="menu__link"> EQUIPO </a>
                </li>
                <li class="menu__item">
                    <a href="../views/contacto.html" class="menu__link"> FORMULARIO </a>
                </li>
                <li class="menu__item">
                    <div class="button">
                        <input type="button" value="Descarga" id="btn">
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <div>
        <p>

            <h1>PONETE A LA BURAR
            </h1>
            <p>

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores impedit animi dolor optio inventore, aliquid recusandae explicabo asperiores provident numquam?
            </p>
            <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ratione?</h2>
            <p>
                
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ratione?
            </p>
            <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ratione?</h3>
            <p>
                
                <ul>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ratione?</li>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ratione?</li>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ratione?</li>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ratione?</li>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ratione?</li>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ratione?</li>
                </ul>

            </p>

            <img src="../images/registrationia.jfif" alt="Registro">
        </p>
        <a href="#ir_arriba" class="ref">Ir Arriba</a>
    </div>

    <footer>
        <a target="_blank"href="https://www.instagram.com" class=><img src="../images/instagram.png" alt="Instagram"></a>
        <a target="_blank"href="https://donaronline.org" class=><img src="../images/donar.png" alt="Donar"></a>
        <a target="_blank"href="https://twitter.com" class=><img src="../images/gorjeo.png" alt="Twitter"></a>
        </footer>
</body>
</html>