<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="AGENDASH Make it simple.">
        <meta name="keywords" content="SIMPLE, SEGURO, CONFIABLE, ORGANIZACIÓN, FINANZAS, ORDEN, HÁBITOS, CONTROL">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        
        <link rel="shortcut icon" href="../images/favicon.jpg" type="image/x-icon">
        <link rel="stylesheet" href="../../css/style.css">
        
        <title>AGENDASH | Make it simple.</title>
    </head>
<body>

    <header>
        <!--Menu-->
        <nav class="navbar flex-row container-fluid">
            <!--Imagen cabecera-->
            <picture class="logo">
                <a href="../../index.html"><img src="../images/logoheader.png" id="shortcut" alt="AGENDASH"
                        class="logo">
            </picture>
            <!--Menu Items-->
            <ul class="menu flex-row">
                <li class="menu__item">
                    <a href= "../../index.html" class="menu__link">HOME</a>
                </li>
                <li class="menu__item">
                    <a href="equipo.html" class="menu__link"> EQUIPO </a>
                </li>
                <li class="menu__item">
                    <a href="contacto.html" class="menu__link"> FORMULARIO </a>
                </li>
                <li class="menu__item">
                    <div class="button">
                        <input type="button" value="Descarga" id="btn">
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    
    <main>
        <center><h1 class="h1">NUESTRO EQUIPO</center>
            <div>
                <p>
                    <center><table>
                    <tr>
                        <td><center><img src="../images/emiliana.jpg" alt="Emiliana Medina Porta" title= "Emiliana Medina" width="100px"></center></td>
                        <td class="title">Emiliana Medina Porta
                            <ul class="list">
                                <li>emimediporta@agendash.com</li>
                            </ul>
                        </td>
                        <td><center><img src="../images/fabian.jpg" alt="Fabian Zandri" title= "Fabian Zandri" width="100px"></center></td>
                        <td class="title">Fabian Zandri
                            <ul class="list">
                                <li>fabzandri@agendash.com</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><center><img src="../images/malena.jpeg" alt="Malena Soiza Dinis" title= "Malena Soiza" width="100px"></center></td>
                        <td class="title">Malena Soiza Dinis
                            <ul class="list">
                                <li>malesoidinis@agendash.com</li>
                            </ul>
                        </td>
                        <td><center><img src="../images/ivan.jpg" alt="Ivan Bustos" title= "Ivan Bustos" width="100px"></center></td>
                        <td class="title">Ivan Bustos
                            <ul class="list">
                                <li>ivanbustos@agendash.com</li>
                            </ul>
                        </td>
                    </tr>
                    </table></center>
                </p>
            </div>
        </h1>
    </main>
    
    <footer>
        <br>
        <br>
        <a target="_blank"href="https://www.instagram.com"><img src="../images/Instagram.png" alt="Instagram" width="70px"></a>
        <a target="_blank"href="https://twitter.com"><img src="../images/Twitter.png" alt="Twitter" width="70px"></a>
        <a target="_blank"href="https://facebook.com"><img src="../images/Facebook.png" alt="Facebook" width="70px"></a>
        <a target="_blank"href="https://google.com"><img src="../images/Google.png" alt="Google" width="70px"></a>
    </footer>
</body>

</html>