<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="AGENDASH Make it simple.">
        <meta name="keywords" content="SIMPLE, SEGURO, CONFIABLE, ORGANIZACIÓN, FINANZAS, ORDEN, HÁBITOS, CONTROL">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        
        <link rel="shortcut icon" href="../images/favicon.jpg" type="image/x-icon">
        <link rel="stylesheet" href="../../css/style.css">
        
        <title>AGENDASH | Make it simple.</title>
    </head>
<body>

    <header>
        <!--Menu-->
        <nav class="navbar flex-row container-fluid">
            <!--Imagen cabecera-->
            <picture class="logo">
                <a href="../../index.html"><img src="../images/logoheader.png" id="shortcut" alt="AGENDASH"
                        class="logo">
            </picture>
            <!--Menu Items-->
            <ul class="menu flex-row">
                <li class="menu__item">
                    <a href= "../../index.html" class="menu__link">HOME</a>
                </li>
                <li class="menu__item">
                    <a href="equipo.html" class="menu__link"> EQUIPO </a>
                </li>
                <li class="menu__item">
                    <a href="contacto.html" class="menu__link"> FORMULARIO </a>
                </li>
                <li class="menu__item">
                    <div class="button">
                        <input type="button" value="Descarga" id="btn">
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h1 class="h1-equip">NUESTRO EQUIPO</h1>
        <br><br>
            <div class="grid-layout">
                <div class="caja-img">
                    <img class="img-style" src="../images/emiliana.jpg" alt="Emiliana Medina Porta" title= "Emiliana Medina">
                </div>
                <div class="caja-txt">
                    <ul>
                        <br><br>
                        <h2 class="h2-style-blue">Emiliana Medina</h2>
                        <li class="li-style">emimediporta@agendash.com</li>
                    </ul>
                </div>
                <div class="caja-img">
                    <img class="img-style" src="../images/fabian.jpg" alt="Fabian Zandri" title= "Fabian Zandri">
                </div>
                <div class="caja-txt">
                    <ul>
                        <br><br>
                        <h2 class="h2-style-blue">Fabián Zandri</h2>
                        <li class="li-style">fabzandri@agendash.com</li>
                    </ul>
                </div>
                <div class="caja-img">
                    <img class="img-style" src="../images/malena.jpeg" alt="Malena Soiza Dinis" title= "Malena Soiza">
                </div>
                <div class="caja-txt">
                    <ul>
                        <br><br>
                        <h2 class="h2-style-blue">Malena Soiza</h2>
                        <li class="li-style">malesoidinis@agendash.com</li>
                    </ul>
                </div>
                <div class="caja-img">
                    <img class="img-style" src="../images/ivan.jpg" alt="Ivan Bustos" title= "Ivan Bustos">
                </div>
                <div class="caja-txt">
                    <br><br>
                    <ul>
                        <h2 class="h2-style-blue">Iván Bustos</h2>
                        <li class="li-style">ivanbustos@agendash.com</li>
                    </ul>
                </div>
            </div>
        </h1>
    </main>
    
    <footer>
        <br>
        <br>
        <a target="_blank"href="https://www.instagram.com"><img src="../images/Instagram.png" alt="Instagram" width="70px"></a>
        <a target="_blank"href="https://twitter.com"><img src="../images/Twitter.png" alt="Twitter" width="70px"></a>
        <a target="_blank"href="https://facebook.com"><img src="../images/Facebook.png" alt="Facebook" width="70px"></a>
        <a target="_blank"href="https://google.com"><img src="../images/Google.png" alt="Google" width="70px"></a>
    </footer>
</body>

</html>