<!DOCTYPE html>
<html lang="en">
        <header>
            <img id="ir_arriba" src="../images/logoheader.png" alt="AGENDASH">
            <a href="../pages/agendash.html" class="ref">Agendash</a>
            <a href="../pages/contacto.html" class="ref">Contacto</a>
            <a href="../pages/equipo.html" class="ref">Equipo</a>
            <a href="../index.html" class="ref">Inicio</a>
        </header>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
        <title>AGENDASH</title>
        <meta name="description" content="AGENDASH Make it simple.">
        <meta name="keywords" content="SIMPLE, SEGURO, CONFIABLE, ORGANIZACIÓN, FINANZAS, ORDEN, HÁBITOS, CONTROL">
        <link rel="shortcut icon" href="../images/favicon.jpg" type="image/x-icon">
        <link rel="stylesheet" href="../css/style.css">
    </head>
<body>
    <div>
        <p>

            <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ratione?</h1>
            <p>

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores impedit animi dolor optio inventore, aliquid recusandae explicabo asperiores provident numquam?
            </p>
            <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ratione?</h2>
            <p>
                
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ratione?
            </p>
            <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ratione?</h3>
            <p>
                
                <ul>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ratione?</li>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ratione?</li>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ratione?</li>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ratione?</li>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ratione?</li>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ratione?</li>
                </ul>

            </p>

            <img src="../images/registrationia.jfif" alt="Registro">
        </p>
        <a href="#ir_arriba" class="ref">Ir Arriba</a>
    </div>

    <footer>
        <a target="_blank"href="https://www.instagram.com" class=><img src="../images/instagram.png" alt="Instagram"></a>
        <a target="_blank"href="https://donaronline.org" class=><img src="../images/donar.png" alt="Donar"></a>
        <a target="_blank"href="https://twitter.com" class=><img src="../images/gorjeo.png" alt="Twitter"></a>
        </footer>
</body>
</html>