<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
    <title>AGENDASH | Make it simple</title>
    <meta name="description" content="AGENDASH Make it simple.">
    <meta name="keywords" content="SIMPLE, SEGURO, CONFIABLE, ORGANIZACIÓN, FINANZAS, ORDEN, HÁBITOS, CONTROL">
    <link rel="shortcut icon" href="../images/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <header>
        <!--Menu-->
        <nav class="navbar flex-row container-fluid">
            <!--Imagen cabecera-->
            <picture class="logo">
                <a href="../../index.html"><img src="../images/logoheader.png" id="shortcut" alt="AGENDASH"
                        class="logo">
            </picture>
            <!--Menu Items-->
            <ul class="menu flex-row">
                <!--<li class="menu__item">
                    <a href="../../index.html" class="menu__link">HOME</a>
                </li>
                <li class="menu__item">
                    <a href="../views/equipo.html" class="menu__link"> EQUIPO </a>
                </li>
                <li class="menu__item">
                    <a href="../views/contacto.html" class="menu__link"> CONTACTO </a>
                </li>-->
                <li class="menu__item">
                    <div class="boton-container">
                        <a href="https://www.ejemplo.com"><input type="button" value="Registrarse"
                                class="boton-verde-menu"></a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <div>
    <section class="fondo_inicio">
            <div class="box">
                <span class="borderLine"></span>
                    <div class="form-box">
                        <div class="form-value">
                            <form action="">
                                <h2 class="ingresar_sesion">Ingresá a tu cuenta</h2>
                                    <div class="inputbox">
                                        <ion-icon name="mail-outline"></ion-icon>
                                            <input type="email" required>
                                            <label for="">Correo</label>
                                    </div>
                                    <div class="inputbox">
                                        <ion-icon name="lock-closed-outline"></ion-icon>
                                        <input type="password" required>
                                        <label for="">Contraseña</label>
                                    </div>
                                    <div class="forget">
                                        <label for=""><input type="checkbox">Recúerdame <a href="#">Olvidaste tú contraseña</a>
                                        </label>
                                    </div>
                                    <button>Ingresar</button>
                                    <div class="register">
                                    <p>
                                        ¿No tienes cuenta? <a href="#">Regístrate</a>
                                    </p>
                                    </div>
                                    <div class="redes">
                                    <p>
                                        o ingresá con:
                                    </p>
                                    </div>
                                    <div class="redes2 flex-row">
                                        <a target="_blank" href="https://www.facebook.com/"><img src="../images/facebook2.png"
                                    alt="Facebook"></a>
                                        <a target="_blank"
                                href="https://accounts.google.com/v3/signin/identifier?dsh=S704995768%3A1684764200857224&continue=https%3A%2F%2Fwww.google.com%2F%3F%2Flogin%2Flogin&ec=GAZAmgQ&hl=es-419&ifkv=Af_xneG_1WV_995hRQyPpJRPHUtFxE987sJAMZIAdrS-p7_rPBjSNGoHggZeO4rBAT5_TVSblj1ZNw&passive=true&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><img
                                    src="../images/buscar.png" alt="Google">
                                </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
    </section>
        </div>
<div>
<section class="fondo_inicio">
            <h3>Algunos de nuestros usuarios</h3>
            <div>
                <button class="usuarios" onclick="traer()">Conocer</button>
                <div class="mt-5" id="contenido">
                </div>
            </div>
        
            <script>
                var contenido = document.querySelector('#contenido');
        
                function traer() {
                    fetch('https://randomuser.me/api/')
                        .then(res => res.json())
                        .then(data => {
                            console.log(data)
                            console.log(data.results)
                            console.log(data.results[0].email)
                            contenido.innerHTML = /*html*/
                                `
                                <img class="imgdata" src="${data.results[0].picture.large}">
                                <p class="textdata">Nombre: ${data.results[0].name.first}</p>
                                `
                        })
                }
            </script>
        </section>
    </div>
    <div>
<section class="fondo_inicio">
            <h3>Algunas Opiniones</h3>
            <div>
                <button class="usuarios" onclick="traer()">Ver</button>
                <div class="mt-5" id="contenido">
                </div>
            </div>
        
            <script>
                var contenido = document.querySelector('#contenido');
        
                function traer() {
                    fetch('https://jsonplaceholder.typicode.com/')
                        .then(res => res.json())
                        .then(data => {
                            console.log(data)
                            console.log(data.results)
                            console.log(data.results[0].email)
                            contenido.innerHTML = /*html*/
                                `
                                <p class="textdata">Nombre: ${data.results[0].name.first}</p>
                                `
                        })
                }
            </script>
        </section>
    </div>
</body>

</html>
